html{
    height: 100%;
}

body{
    background-image: linear-gradient(rgb(255,197,197),rgb(254,127,126));
}

div{
    width: 37%;
    background-color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);;
    animation: load 2s;
}

h1{
    text-align: center;
    padding-bottom:0px ;
    margin-top: 5px;
    font-size: 45px;
    top: 10px;
    
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    list-style-type: none;  
}

span{
    margin: 7px;
}
ul li{
    cursor: pointer;
    position: relative;
    animation: newTask 1s;
}

.completed{
    text-decoration: line-through;
    color: gray;
    transition: color, 1s ;
}

.trashcan{
    border:none;
    background-color: white;
    cursor: pointer;
}

button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 25px;
  text-align: center;
}

input{
    height: 25px;
    width: 220px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#inputClicked{
    border:blue;
}

#nbrFinishedTasks{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    /*top: 10px;*/
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    top: -17px;  
}

.warning{
    color:rgb(199, 33, 36);
    font-style: italic;
    animation: blink 1s; 
}

@keyframes blink{
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes load{
    0%{
        opacity: 0;
        transform: translateY(-2000px);
    }
    60%{
       opacity: 0.5;
        transform: translateY(30px);   
    }
    
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes newTask{
    0%{
        opacity: 0;
        transform:translateY(30px)
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}