html{
    height: 100%;
}
body{
    background-image: linear-gradient(rgb(255,197,197),rgb(254,127,126));
}

div{
    width: 35%;
    background-color: white;
    margin: auto;
    padding-top: 0px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    animation: load 2s;
}
ul{
    font-family: Calibri;
    font-size: 20px;
    list-style-type: none;

    
}
span{
    margin: 7px;
}
ul li{
    cursor: pointer;
    position: relative;
    animation: newTask 1s;
}

.completed{
    text-decoration: line-through;
    color: gray;
    transition: color, 1s ;
}
h1{
    text-align: center;
    padding-bottom:0px ;
    margin-top: 0px;
    font-size: 40px;
    top: 10px;
    
}
.trashcan{
    border:none;
    background-color: white;
}

button{
  cursor: pointer;
 
}
#inputClicked{
    border:blue;
}

#nbrFinishedTasks{
    font-family: Calibri;
    font-size: 14px;
    top: 50px;
    
}


.warning{
    color:rgb(199, 33, 36);
    font-style: italic;
    animation: blink 1s;
    
}

@keyframes blink{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes load{
    0%{
        opacity: 0;
        transform: translateY(-2000px);
    }
    60%{
       opacity: 0.5;
        transform: translateY(30px);   
    }
    
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes newTask{
    0%{
        opacity: 0;
        transform:translateY(30px)
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}